# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage
*.lcov
.nyc_output

# Production builds
/build
/dist
/dist-ssr
*.local

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# TypeScript
*.tsbuildinfo
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo

# Webpack
.webpack/

# OS
Thumbs.db

# Misc
*.tgz
.npm/
.eslintcache

.codespaces/
**/.env-secrets
**/*secrets*.json
.oryx/

